name: CI Pipeline

on:
    push:
        branches: [main, dev]
    pull_request:
        branches: [main, dev]

jobs:
    build-test:
        name: Build & Test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 24
                  cache: "npm"

            - name: Install dependencies
              run: npm ci

            - name: Run link
              run: npm run lint

            - name: Build project
              run: npm run build
